@model IEnumerable<Entidad.ProyectoEmpleadoCE>
@{
    ViewBag.Title = "Asignar Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Proyecto</h2>
<hr />
<div id="divAsignar">
    <div class="form-group row">
        <label class="col-sm-1 col-form-label col-form-label-sm">Proyecto</label>
        <div class="col-sm-3">
            <select class="form-control form-control-sm" id="IdProyecto" name="IdProyecto">
                <option value="">Seleccione </option>
            </select>
        </div>

        <label class="col-sm-1 col-form-label col-form-label-sm">Empleado</label>
        <div class="col-sm-3">
            <select class="form-control form-control-sm" id="IdEmpleado" name="IdEmpleado">
                <option value="">Seleccione </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="offset-3 col-md-6">
            <br />
            <button class="btn btn-primary btn-block" type="button" onclick="Asignar_Proyecto()">Asignar</button>
        </div>        
    </div>
    <hr />
    <div class="form-group">
        <div class="offset-2 col-md-8">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Empleado</th>
                        <th class="text-center">Fecha Alta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NombreProyecto</td>
                            <td>@item.NombreCompleto</td>
                            <td class="text-center">@item.FechaAlta.ToShortDateString()</td>
                            <td class="text-center"><a href="javascript:;" onclick="Eliminar_asignacion(@item.IdProyecto,@item.IdEmpleado)" class="btn btn-danger btn-sm" >Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
       
</div>
@section scripts{

    <script>
        Listar_Proyecto();
        Listar_Empleado();

        function Asignar_Proyecto()
        {
            var idproyecto = $("#IdProyecto").val();
            var idempleado = $("#IdEmpleado").val();

            if (idproyecto == "" || idempleado == "")
            {
                alert("Debe seleccionar un proyecto y un empleado");
                return;
            }
            /*
            LoadingOverlayShow("#divAsignar");
            $.ajax({
                url: "/Proyecto/AsignarProyecto",
                type: "post",
                data: { idproyecto, idempleado },
            }).done(function (response) {
                console.log(response);
                LoadingOverlayHide("#divAsignar");
                if (response.ok == true) {
                    alert("Asignacion creada correctamente");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#divAsignar");
            });*/

            Swal.fire({
                title: 'estas seguro de asignar este proyecto?',                
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Asignar proyecto!'
            }).then((result) => {
                if (result.value) {                    
                    //LoadingOverlayShow("#tablaDemo");
                    $.ajax({
                        url: "/Proyecto/AsignarProyecto",
                        type: "post",
                        data: { idproyecto, idempleado},
                    }).done(function (response) {
                        console.log(response);
                        //LoadingOverlayHide("#tablaDemo");
                        if (response.ok == true) {                            
                            Swal.fire({
                                icon: 'success',
                                title: 'Asignacion creada correctamente',                                
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.value) {
                                    window.location = response.toRedirect;
                                }
                            });                            
                        }
                        else {
                            alert(response.msg);
                        }               
                
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //LoadingOverlayHide("#tablaDemo");
                        
                    });                                 
                }
            })
        }

        function Eliminar_asignacion(idproyecto,idempleado) {
           /* LoadingOverlayShow("#divAsignar");
            $.ajax({
                url: "/Proyecto/Eliminar_asignacion",
                type: "post",
                data: { idproyecto, idempleado },
            }).done(function (response) {
                console.log(response);
                LoadingOverlayHide("#divAsignar");
                if (response.ok == true) {
                    alert("Asignacion eliminada correctamente");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#divAsignar");
            });*/

            Swal.fire({
                title: 'estas seguro de Eliminar este proyecto?',                
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar proyecto!'
            }).then((result) => {
                if (result.value) {                    
                    //LoadingOverlayShow("#tablaDemo");
                    $.ajax({
                        url: "/Proyecto/Eliminar_asignacion",
                        type: "post",
                        data: { idproyecto, idempleado},
                    }).done(function (response) {
                        console.log(response);
                        //LoadingOverlayHide("#tablaDemo");
                        if (response.ok == true) {                            
                            Swal.fire({
                                icon: 'success',
                                title: 'Asignacion eliminada correctamente',                                
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.value) {
                                    window.location = response.toRedirect;
                                }
                            });                            
                        }
                        else {
                            alert(response.msg);
                        }               
                
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        //LoadingOverlayHide("#tablaDemo");
                        
                    });                                 
                }
            })
        }

    </script>
    }